{% extends "base.html" %}

{% block content %}
   <div>Please connect your utility account to view your usage data.</div>
   <form action="/pelm/authorize" method="GET">
   		<input type="hidden" name="redirect_url" value={{ redirect_url }} />
	  <!-- <div>
	    <label for="say">What greeting do you want to say?</label>
	    <input name="say" id="say" value="Hi">
	  </div>
	  <div>
	    <label for="to">Who do you want to say it to?</label>
	    <input name="to" id="to" value="Mom">
	  </div> -->
	  <div>
	    <button>Authenticate</button>
	  </div>
	</form>

{% endblock %}