<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
    <div style="display: flex; flex-direction: column; align-items: center;">
        <h1 class="title">
          Hello {{ current_user.name }}
        </h1>
        <h2 class="subtitle">
          View your energy usage data
        </h2>

        <form class="form" action="/data" method="GET" style=" display: flex; flex-direction: column; align-items: flex-start;">
            <h2 class="subtitle">
                Select which energy account you want to view your data for.
            </h2>
            <select class="select" name="unique_account_id" width="300px" id="utility">
                {% for a in unique_account_ids %}
                    <option value="{{ a }}">{{ a }}</option>
                {% endfor %}
            </select>
            <h2 class="subtitle" style="margin-top: 30px;">
                Input start and end date.
            </h2>
            <div>
                <input class="input" name="start_date" placeholder="Start date">
                <input class="input" name="end_date" placeholder="End date">
            </div>
            <button class="button" style="margin-top: 30px">Get data</button>
            {% if interval_data %}
                <h2 class="subtitle" style="margin-top: 30px;">
                    Energy data
                </h2>
                {{ interval_data }}
            {% endif %}
        </form>
    </div>
{% endblock %}